# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turborepo
.turbo/

# Environment
.env
.env.local
.env.*.local
!.env.example

# Prisma
packages/database/prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
logs/

# Editor / OS
.DS_Store
Thumbs.db
.idea/
*.swp

# Testing
coverage/

# Misc
*.pem
.vscode/*
!.vscode/extensions.json
